<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="clienti.nomeContatto" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="clienti.cognomeContatto" name="username" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="clienti.email" name="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" [(ngModel)]="clienti.telefono" name="phone" class="form-control" id="phone">
    </div>
   <div class="form-group">
        <button type="button" class="btn btn-dark form-control"(click)="update()" >Update</button>
    </div>
</form>
