<div class="card text-white bg-dark mb-3 mt-5">
    <div class="card-header">
         <h4 class=" text-warning">Dettaglio Cliente:</h4>
        <h1>{{clienti.nomeContatto}} {{clienti.cognomeContatto}}</h1>
    </div>
    <div class="card-body">
      
      <h5 class="card-title"> Nome: {{clienti.nomeContatto}} </h5>
      <h5 class="card-title"> Cognome:{{clienti.cognomeContatto}}</h5>
      <h5 class="card-title"> Ragione sociale:{{clienti.ragioneSociale}}</h5>
      <h5 class="card-title"> PartitaIva:{{clienti.partitaIva}}</h5>
      <h5 class="card-title">Tipo Cliente:{{clienti.tipoCliente}}</h5>
      <h5 class="card-title">Pec:{{clienti.pec}}</h5>
      <h5 class="card-title"></h5>
      <h5 class="card-title"></h5>
      <h5 class="card-title"></h5>
      
      
    </div>
  </div>
