<div class="card text-white bg-dark mb-3 mt-5">
    <div class="card-header">
         <h4 class=" text-warning text-center">Dettaglio Fattura:</h4>
        <h5 class="text-warning"> Numero Fattura:<span class="text-white">{{fatture.numero}}</span> 
        </h5>
    </div>
    <div class="card-body">
      
     
        <h6 class="card-title text-warning">Data: <span class="text-white" >{{fatture.data}}</span> </h6>
        <h6 class="card-text text-warning ">Anno: <span class="text-white">{{fatture.anno}}</span> </h6>
        <h6 class="card-text text-warning">Importo:<span class="text-white"> {{fatture.importo}}</span></h6>
        <h6 class="card-text text-warning">Stato:</h6>
        
        <ul>
            <li class="text-danger" > <b>{{fatture.stato.nome}}</b> </li>
           
        </ul>

         <h6 class="card-text text-warning">TipoCliente:<span class="text-white">{{fatture.cliente.tipoCliente}}</span></h6>
        <h6 class="card-text  text-warning">Email:<span class="text-white"> {{fatture.cliente.email}}</span></h6>
        <h6 class="card-text text-warning">Pec: <span class="text-white">{{fatture.cliente.pec}}</span></h6>
        <h6 class="card-text text-warning">Telefono: <span class="text-white"> {{fatture.cliente.telefono}}</span></h6>
        <h6 class="card-text text-warning">Email Contatto: <span class="text-white">{{fatture.cliente.emailContatto}}</span></h6>
        <h6 class="card-text text-warning">Indirizzo Sede Operativa:</h6>
        <ul>
            <li>via: {{fatture.cliente.indirizzoSedeOperativa.via}}</li>
            <li>Civico: {{fatture.cliente.indirizzoSedeOperativa.civico}}</li>
            <li>Cap: {{fatture.cliente.indirizzoSedeOperativa.cap}}</li>
            <li>Località: {{fatture.cliente.indirizzoSedeOperativa.localita}}</li>
            <ul>
                <b class="text-warning">Comune</b>
                <li>Nome: {{fatture.cliente.indirizzoSedeOperativa.comune.nome}}</li>
                <li>Provincia:{{fatture.cliente.indirizzoSedeOperativa.comune.provincia.nome}}</li>
            </ul>
        </ul>
        <h6 class="card-text text-warning">Indirizzo Sede Legale:</h6>
        <ul>
<li>Via: {{fatture.cliente.indirizzoSedeLegale.via}}</li>
            <li>Civico:{{fatture.cliente.indirizzoSedeLegale.civico}}</li>
            <li>Cap: {{fatture.cliente.indirizzoSedeLegale.cap}}</li>
            <li>Località: {{fatture.cliente.indirizzoSedeLegale.localita}}</li>
            <ul>
                <b class="text-warning">Comune</b>
                <li>Nome:{{fatture.cliente.indirizzoSedeLegale.comune.nome}}</li>
                <li>Provincia:{{fatture.cliente.indirizzoSedeOperativa.comune.provincia.nome}}</li>
            </ul>
        </ul>
        <p class="card-text text-warning">Data Inserimento: <span class="text-white">{{fatture.cliente.dataInserimento}}</span></p>
        <p class="card-text text-warning">Data Ultimo Contatto:<span class="text-white">{{fatture.cliente.dataUltimoContatto}}</span></p>
        <p class="card-text text-warning">Fatturato Annuale:<span class="text-white">{{fatture.cliente.fatturatoAnnuale}}</span></p>
        

    </div>
      
      
    </div>
 


