<h3 class="m-auto text-center">AGGIUNGI FATTURA</h3>
<form class="my-3 bg-white">
    <div class="form-group">
        <label>Numero</label>
        <input type="text" [(ngModel)]="fatture.numero" name="Numero" class="form-control"
            placeholder="Numero">
            <label>Anno</label>
            <input type="text" [(ngModel)]="fatture.anno" name="Anno" class="form-control"
            placeholder="Anno">
            <label>Importo</label>
            <input type="text" [(ngModel)]="fatture.importo" name="Anno" class="form-control"
            placeholder="Importo">
    </div>
    
    
    <div class="form-group">
        <button type="button" class="btn btn-dark form-control" (click)="aggiungiFattura()" >Aggiungi</button>
    </div>
   
</form>
